input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.hidden {
    display: none;
}

.bs-callout-warning {
    color: indianred;
    font-size: 1.4em;
    font-weight: bold;
}

.bs-callout-info {
    color: black;
    font-size: 1.4em;
    font-weight: normal;
}

#fullpage {
    width: 970px;
    text-align: left;
    margin: 15px;
}

#fullpage p.section_explanation {
    font-size: 1.0em;
}

#fullpage p.param_explanation {
    font-size: 0.85em;
    margin-bottom: 15px;
    margin-top:5px;
    width: 850px;
}

#fullpage p.section_title {
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
}

#fullpage .section {
    margin-left: 25px;
}

#fullpage label {
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    width: 500px;
    text-align: left;
}

#fullpage input {
    display: inline-block;
    width: 325px;
    text-align: left;
    border: 0;
    font-size: 1em;
    background-color: #EEEEEE;
}

#fullpage input#conf_submit {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: solid;
    border-width: 3px;
}

#fullpage select {
    display: inline-block;
    width: 325px;
    border: 0;
    font-size: 1em;
    background-color: #EEEEEE;
}
