/*

HRM default style

This file is part of the Huygens Remote Manager
Copyright and license notice: see license.txt

*/

/* *** Font faces *********************************************************** */

@font-face {
    font-family: 'ubuntu_font';
    src: url('Ubuntu-Regular-webfont.eot');
    src: url('Ubuntu-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Ubuntu-Regular-webfont.woff') format('woff'),
         url('Ubuntu-Regular-webfont.ttf') format('truetype'),
         url('Ubuntu-Regular-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* basic elements */

body {
    background: #fff;
    color: #000;
    font-family: ubuntu_font;
    font-size: 14px;
    text-align: center;
    margin: 0px;
}

pre {
    font-size: 12px;
}

a:link {
    color: #4988de;
    text-decoration: none;
}

a:visited {
    color: #4988de;
    text-decoration: none;
}

a:hover, a:active {
    color: #2733ff;
}

h1 {
    font-size: 32px;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 15px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

p {
    text-align: left;
}

img {
    vertical-align: middle;
    border: none;
}

textarea {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* specific div elements */

.ui-dialog-titlebar {
  background-color: #62B0F9;
  background-image: none;
  color: #FFFFFF;
}

.intro {
    font-size: 16px;
    padding-top: 15px;
    border-top-style: dotted;
    border-top-width: 1px;
    padding-bottom: 15px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    line-height: 1.5;
}

#basket {
    width: 800px;
    border: #ccc 2px solid;
    margin: 0px auto 0px auto;
}

#title {
    position: relative;
    height: 86px;
    background: url("../images/title_bkg.png") repeat-x top left;
    padding-left: 180px;
    border: #fff 2px solid;
    color: white;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 186px;
    height: 86px;
    background: url("../images/logo.png") no-repeat top left;
}

#stats {
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#statschart {
    width: 800px;
    height: 400px;
    margin: 16px 0px 10px 0px;
    border-top: #ccc 1px dotted;
}

#statstable {
    font-weight: normal;
    font-size: 0.7em;
    margin-left: 50px;
    margin-right: 50px;
    border-top: #ccc 1px dotted;
}

#statstable h3 {
    color: rgb(62,87,111);
    font-family: ubuntu_font;
    font-weight: normal;
    font-size: 16px;
}

#statstable table {
    margin-bottom: 20px;
}

#statstable table th {
    text-align: center;
    font-weight: bold;
    background-color: #eee;
}

#nav {
    color: #888;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    border-top: #ccc 2px solid;
    border-bottom: #ccc 2px solid;
}

#nav ul {
    list-style-type: none;
    padding: 2px 0px 4px 6px;
    margin: 0px;
}

#nav li {
    display: inline;
    padding-right: 10px;
}

#nav a:link {
    font-weight: bold;
    color: #000;
}

#nav a:visited {
    font-weight: bold;
    color: #000;
}

.requirements {
    text-align: center;
    background: #4988DE;
    color: white;
}

#controls {
    text-align: center;
    border-top: #ccc 1px dotted;
    margin-top: 30px;
    width: 100%;
}

#welcome {
    float: left;
    width: 480px;
    text-align: left;
    border-right-style: dotted;
    border-right-width: 1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 15px;
}

#welcome h3 {
  background-color: #eee;
  font-size: 16px;
  height: 40px;
  font-weight: bold;
  text-align: center;
}

#welcome h2 {
  font-size: 20px;
  margin-top: 15px;
}

#welcome h4 {
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}

#welcome p {
    text-align: justify;
}

#content {
    float: left;
    width: 480px;
    text-align: left;
    border-right-style: dotted;
    border-right-width: 1px;
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 5px 15px;
}

#content h3 {
  background-color: #eee;
  font-size: 16px;
  height: 40px;
  font-weight: bold;
  text-align: center;
}

#content h2 {
  background-color: #eee;
  font-size: 16px;
  height: 18px;
  font-weight: bold;
  text-align: center;
}

#content h4 {
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}

#content p {
    text-align: justify;
}

#content_disabled {
  float: left;
  width: 480px;
  text-align: left;
  border-right-style: dotted;
  border-right-width: 1px;
  margin: 0px 0px 0px 0px;
  padding: 0px 15px 0px 15px;
}

#content_disabled h3 {
  background-color: #eee;
  color: grey;
  font-size: 16px;
  height: 40px;
  font-weight: bold;
  text-align: center;
}

#content_disabled h2 {
  background-color: #eee;
  color: grey;
  font-size: 16px;
  height: 18px;
  font-weight: bold;
  text-align: center;
}

#content_disabled h4 {
  color: grey;
  font-size: 12px;
  font-weight: bold;
  text-align: justify;
}

#content_disabled p {
    text-align: justify;
}

#separator {
  width: 1500px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  margin: 20px 0px 20px 0px;
}

#logos {
  font-size: 70%;
  text-align: center;
}

#logos table {
  border: 0px;
  width: 480px;  
}

#logos table.firstRow {
  margin: 20px 0px 30px 0px;
}

#logos table.secondRow {
  margin: 20px 0px 30px 0px;
}

#logos table tr.caption {
  vertical-align: top;
    text-align: center;
}

#logos table td.epfl {
  height: 60px;
  width: 160px;
  cursor: pointer;
  background: url("../images/logo_epfl.png") no-repeat center;
  background-size: 90px;
}

#logos table td.mri {
  height: 60px;
  width: 160px;
  cursor: pointer;
  background: url("../images/logo_mri.png") no-repeat center;
  background-size: 60px;
}

#logos table td.svi {
  height: 60px;   
  width: 160px;
  cursor: pointer;
  background: url("../images/logo_svi.png") no-repeat center;
  background-size: 60px;
}

#logos table td.bsse {
  height: 80px;
  width: 200px;
  margin-top: 50px;
  padding-bottom: 5px;
  cursor: pointer;
  background: url("../images/logo_bsse.png") no-repeat center;
  background-size: 100px;
}

#logos table td.fmi {
  height: 80px;
  width: 200px;
  cursor: pointer;
  background: url("../images/logo_fmi.png") no-repeat center;
  background-size: 70px;
}

#logos table td.blank {
  width: 40px;
}

#templates select {
    width: 100%;
}

#userfiles select {
    width: 100%;
    text-align: left;
}

#selection {
    font-size: 0.8em;
    text-align: center;
}

#selection select {
    width: 50%;
}

#selection input {
  vertical-align: middle;
}

#autoseries_label { 
    font-size: 80%;
}

#autoseries { 
    margin-top: 5px;
}

#selection label { 
  position: relative;
  left: 13.8em;
}

#selection_disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
  font-size: 0.8em;
  text-align: center;
}

#up_form {
    font-size: 0.8em;
    text-align: center;
}

#up_form input {
    vertical-align: middle;
}

#upload_list {
    padding: 15px;
    margin: 15px;
    border: #ccc 2px solid;
}

#upload_list input {
    width: 90%;
}

#settings select {
    width: 100%;
}

#selectedfiles select {
    width: 100%;
    text-align: left;
}

#upMsg {
    text-align: center;
    font-size: 70%;
    padding: 5px 0 0 0;
}

input.copy {
    background: url("../images/copy.png") no-repeat center;
}

input.down {
    background: url("../images/add.png") no-repeat center;
}

input.remove {
    background: url("../images/remove.png") no-repeat center;
}

input.create {
    background: url("../images/create.png") no-repeat center;
}

input.edit {
    background: url("../images/edit.png") no-repeat center;
}

input.clone {
    background: url("../images/clone.png") no-repeat center;
}

input.mark {
    background: url("../images/mark.png") no-repeat center;
}

input.delete {
    background: url("../images/delete.png") no-repeat center;
}

input.update {
    background: url("../images/update.png") no-repeat center;
}

input.download {
    background: url("../images/download.png") no-repeat center;
}
input.upload {
    background: url("../images/upload.png") no-repeat center;
}
input.omero {
    background: url("../images/omero_data.png") no-repeat center;
}

input.save {
    width: 60px;
    height: 60px;
    background: url("../images/save.png") no-repeat center;
}

#actions {
  text-align: center;
  font-size: 70%;
  padding: 5px 0 0 0;
}

#actions label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

#actions_disabled {
  opacity: 0.4;
  filter: alpha(opacity=40);
  text-align: center;
  font-size: 70%;
  padding: 5px 0 0 0;
}

#actions_disabled label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

#omeroActions {
    text-align: center;
    font-size: 70%;
    padding: 5px 0 0 0;
}

#omeroTree { 
  width: 450px;
}

#login {
    font-size: 14px;
    text-align: center;
}

#login_registration {
  font-size: 12px;
  height: 48px;
  width: 150px;
  text-align: left;
  padding-left: 0px;
  padding-bottom: 10px;
}

#login_registration table {
  border: 0px;
  width: 200px;
}

#login_registration table td.icon {
  height: 48px;
  width: 40px;
  cursor: pointer;
  background: url("../images/registration.png") no-repeat center;
  background-size: 48px;
}

#login_registration table td.text {
  text-align: center;
  height: 48px;
  width: 100px;
  
}

#login fieldset {
    position: relative;
    margin: 5px;
    margin-top: 30px;
    padding-top: 30px;
    border-radius: 7px;
}

#login legend {
    position:absolute;
    top: -0.5em;
    left: 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

#login p.expl {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    padding: 0px 5px;
}

#login label {
    font-size: 12px;
    font-weight: normal;
}

#login input.textfield {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

#login input.button {
    margin-top: 10px;
    font-size: 12px;
    width: 60%;
    font-weight: bold;
}

#rightpanel {
    float: right;
    width: 250px;
    text-align: right;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 15px;
}

#info {
    text-align: center;
    padding: 0px;
    width: 100%;
    line-height: 1.5;
}

#output {
    width: 100%;
}

#info p {
    font-size: 12px;
    text-align: justify;
}

#info p.report {
    font-size: 11px;
    text-align: left;
}

#info h3 {
    background-color: #eee;
    font-size: 16px;
    line-height: 1.0;
    font-weight: bold;
    text-align: center;
}

#footer {
    clear: both;
    font-size: 60%;
    padding: 5px 0px 5px 0px;
    border-top: #ccc 2px solid;
    border-bottom: #ccc 2px solid;
}

#about {
    clear: both;
    font-size: 60%;
    padding: 5px 0px 5px 0px;
}

#validation {
    background: url("../images/validation_bkg.png") repeat-x top left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#joblist {
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    margin-top: 0px;
}

#joblist h3 {
    background-color: #eee;
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 1.0;
}

#joblist summary {
    text-align: center;
}

#input input {
    vertical-align: middle;
}

#queue {
    margin-bottom: 1em;
}

#queue table {
    font-size: 75%;
    padding-bottom: 1em;
}

#queue td {
    text-align: center;
    border: thin solid;
}

#queue td.del {
    width: 3%;
    font-weight: bold;
}

#queue td.nr {
    width: 3%;
    font-weight: bold;
}

#queue td.owner {
    width: 10%;
    font-weight: bold;
}

#queue td.files {
    width: 24%;
    font-weight: bold;
}

#queue td.created {
    width: 15%;
    font-weight: bold;
}

#queue td.status {
    width: 8%;
    font-weight: bold;
}

#queue td.started {
    width: 15%;
    font-weight: bold;
}

#queue td.stop {
    width: 15%;
    font-weight: bold;
}

#queue td.pid {
    width: 8%;
    font-weight: bold;
}

#queue td.server {
    width: 14%;
    font-weight: bold;
}

#queue input {
  vertical-align: middle;
}

#jobParameters {
  margin-top: 2em;
}

#jobParameters table { 
  margin-bottom: 2em;
  font-size: 100%;
  width: 610px;
} 

#jobParameters td {
  text-align: center;
}

#jobParameters td.header { 
  font-weight: bold;
}

#jobParameters td.param {
  width: 175px;
  font-weight: bold;
  background-color: #eee;
}

#jobParameters td.value {
  width: 100px;
  font-weight: bold;
  background-color: #eee;
}

#jobParameters td.channel {
  width: 50px;
  font-weight: bold;
  background-color: #eee;
}

#jobParameters td.source {
  width: 100px;
  font-weight: bold;
  background-color: #eee;
}

#jobParameters td.metadata { 
  background-color: #CEFEC6;
}

#jobParameters td.userdef { 
  background-color: #CFD7F2;
}

#colocPage {
    text-align: left;
}

#colocTabs {
  width: 1500px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
}

#colocTab {
    float: left;
    width: 150px;
    font-size: 0.7em;
    border: #fff 1px solid;
    padding: 10px;
    margin-right: 1em;
    margin-bottom: 0.6em;
}

#colocTab.normal {
    color: #4988DE;
    background-color: #fff;  
    border-color: #888;
}

#colocTab.normal:hover {
    background-color: #ffa;
}

#colocTab.selected {
    color: black;
    background-color: #aaa;
    border-color: #555;
}

#colocResults { 
  width: 1600px;
}

#colocRun { 
  float: left;
  width: 1600px;
}

#colocHist {
  float: left;
  padding-right: 18px;
  text-align: center;
}

#ColocCoefficientSelectionDiv table { 
  font-size: 100%;
}

#ColocCoefficientSelectionDiv td.text {
  text-align: right;
}

#ColocCoefficientSelectionDiv td.check {
  text-align: left;
}

#colocCoefficients table { 
  font-size: 100%;
  width: 1200px;
  float: left;
} 

#colocCoefficients td {
  text-align: center;
}

#colocCoefficients td.title {
  text-align: center;
  font-weight: bold;
  background-color: #BFFFB3;
}

#colocCoefficients td.header {
  width: 80px;
  font-weight: bold;
  background-color: #CFD7F2;
}

#colocCoefficients td.coefficient {
  background-color: #DAFFDA;
}

#colocCoefficients td.thresh {
  background-color: #EEFFEE;
}

#colocCoefficients td.cell {
  background-color: #DAFFDA;
}

#colocCoefficients td.marked {
  background-color: #B6ECFF;
}

#colocMap table { 
  font-size: 100%;
  width: 800px;
  float: left;
} 

#colocMap td {
  text-align: center;
}

#colocMap td.title {
  text-align: center;
  font-weight: bold;
  background-color: #CFD7F2;
}

#colocMap td.cell {
  padding-right: 1em;
}

#warning table { 
  font-size: 105%;
  padding-bottom: 1em;
  width: 610px;
  border: none;
  left:0px;
} 

#warning td {
  text-align: left;
  border: thin solid;
}

#warning td.text {
  color: #E80010;
  padding-left: 6px;
}

#scaling table { 
  margin-bottom: 2em;
  font-size: 100%;
  width: 610px;
} 

#scaling td {
  text-align: center;
}

#scaling td.header { 
  font-weight: bold;
}

#scaling td.param {
  width: 175px;
  font-weight: bold;
  background-color: #eee;
}

#scaling td.value {
  width: 100px;
  font-weight: bold;
  background-color: #eee;
}

#scaling td.channel {
  width: 50px;
  font-weight: bold;
  background-color: #eee;
}

#scaling td.reason {
  width: 100px;
  font-weight: bold;
  background-color: #eee;
}

#scaling td.cell { 
  background-color: #CFD7F2;
}

#listusers {
  text-align: center;
  padding-bottom: 1em;
}

#listusers table {
    font-size: 70%;
}

#listusers tr.upline {
    border-right: thin solid;
    border-top: thin solid;
    border-left: thin solid;
}

#listusers tr.bottomline {
    margin-bottom: 1em;
    border-right: thin solid;
    border-left: thin solid;
    border-bottom: thin solid;
}

#listusers p {
    text-align: center;
}

#listusers td {
    padding: 3px;
}

#listusers td.menu {
    padding: 0px;
}

#listusers td.hr {
    padding: 0px;
}

#listusers td.notice {
    font-size: medium;
}

#homepage {
    width: 770px;
    text-align: left;
    margin: 15px;
    line-height: 1.5;
}

#homepage h3 {
    background-color: #eee;
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 1.0;
}

#homepage table {
    border: 0px;
    font-size: 14px;
}

#homepage table tr {
    height: 120px;
    vertical-align: bottom;
}

#homepage table tr.separator {
  height: 1px;
  width: 200px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #CCCCCC;
}

#homepage table td {
    padding: 3px;
}

#homepage table td.icon {
    width: 120px;
}

#homepage table td img {
    width: 96px;
    height: 96px;
}

#homepage table td.text {
    vertical-align: top;
    text-align: left;
    width: 253px;
}

#homepage .cell {
    position:relative;
    top: 25px;
}

#homepage table a:link {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

#homepage table a:visited {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

#homepage .added_jobs {
    color: #4988de;
    font-weight: normal;
    font-size: 14px;
}

#homepage .added_jobs a:link {
    color: #4988de;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
}

#homepage .added_jobs a:visited {
    color: #4988de;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
}

#cmle-snr {
    text-align: left;
}

#qmle-snr {
    text-align: left;
}

td {
    text-align: center;
}

td.name {
    text-align: left;
}

td.group {
    text-align: center;
}

td.email {
    width: 50%;
    text-align: right;
}

td.date {
    text-align: left;
}

td.operations {
    text-align: right;
}

td.operations input {
    font-size: 70%;
}

tr.disabled {
    background: silver;
}

a.selected {
    color: black;
    text-decoration: none;
    border: solid 1px;
}

a.empty {
    color: rgb(194, 26, 26);
    text-decoration: none;
    border: solid 1px white;
    font-size: 9px;
}

a.filled {
    color: blue;
    text-decoration: none;
    border: solid 1px white;
    font-size: 9px;
}

#box #adduser {
    padding-right: 5em;
}


#adduser {
    text-align: right;
}

#adduser label {
  vertical-align: top;
  display: inline-block;
}

#adduser input {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 10px;
    margin-bottom: 3px;
}

#adduser textarea {
    width: 300px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}

#addanotherfile {
    margin: 5px;
    color: #f23;
    font-size: 80%;
}

span.spacer {
    display: block;
    clear: both;
}

fieldset {
    position: relative;
    margin: 5px;
    margin-top: 30px;
    padding: 20px 5px 10px 10px;
    border-radius: 7px;
}

fieldset legend {
    position:absolute;
    top: -0.8em;
    left: 0px;
    font-size: 1.0em;
    font-weight: bold;
    text-align: left;
}

fieldset.report {
  margin-top:10px;
  margin-bottom:10px;
  padding-right:15px;
}

fieldset.p {

}

fieldset .values {
    position: relative;
    padding-left: 20px;
    width: 100%;
}

fieldset .reset
{
    background: url("../images/reset.png") no-repeat left center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 20px;
}

fieldset .bottom {
    clear: both;
    width: 100%;
}

ol li {
    display: inline;
}

input {
    text-align: center;
}

input.icon {
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 0px;
    text-align: left;
    cursor: pointer;
    border: none;
}

input.empty {
    width: 60px;
    height: 60px;
    cursor: default;
    background: url("../images/empty.png");
}

input.previous {
    width: 60px;
    height: 60px;
    background: url("../images/previous.png") no-repeat right;
}

input.launch {
    width: 60px;
    height: 60px;
    background: url("../images/launch.png") no-repeat right;
}

input.launch_start {
  width: 80px;
  height: 60px;
  background: url("../images/launch_start.png") no-repeat right;
}

input.next {
    width: 60px;
    height: 60px;
    background: url("../images/next.png") no-repeat right;
}

input.up {
    width: 60px;
    height: 60px;
    background: url("../images/up.png") no-repeat right;
}

input.calc {
    width: 60px;
    height: 60px;
    background: url("../images/calc.png") no-repeat right;
}

input.ok {
    width: 60px;
    height: 60px;
    background: url("../images/ok.png") no-repeat center;
}

input.cancel {
    width: 60px;
    height: 60px;
    background: url("../images/cancel.png") no-repeat center;
}

input.apply {
    width: 60px;
    height: 60px;
    background: url("../images/apply.png") no-repeat center;
}

input.back {
    width: 60px;
    height: 60px;
    background: url("../images/back.png") no-repeat center;
}

input.restart {
    width: 60px;
    height: 60px;
    background: url("../images/restart.png") no-repeat center;
}

input.upload {
    width: 60px;
    height: 60px;
    background: url("../images/upload.png") no-repeat center;
}

input.abort {
    width: 60px;
    height: 60px;
    background: url("../images/cancel_small.png") no-repeat center;
}

input.noPreview {
    width: 200px;
    height: 200px;
    background: url("../images/no_preview_button.png") no-repeat center;
}

.expandedView {
    font-size: 80%;
    font-weight: bold;
    color: #4988de;
    cursor: pointer;
}

#ithumb {
    padding-top: 3px;
    padding-bottom: 0;
    cursor: pointer;
}
#ithumba {
    padding-top: 3px;
    padding-bottom: 0;
    cursor: pointer;
}
#ithumbb {
    padding-bottom: 0;
    background: #444;
    padding-top: 1px;
    cursor: pointer;
}

select {
    width: 100%;
    text-align: center;
}

select.snrselect {
    width: 30%;
}

span.multichannel {
    margin-left: -8px;
}

div.multichannel {
    padding-top: 5px;
    text-align: center;
}

.nowrap {
    display: inline;
}

.nowrap_noborder {
    border: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.multichannelinput {
    text-align: center;
}

option.default {
    color: #ff0000;
}

.line {
    display: block;
}

.textfield {
    width: 50%;
    text-align: left;
    vertical-align: middle;
    margin: 1px 5px 1px 1px;
}

.psffile {
    width: 70%;
}

.psfmissing {
    width: 70%;
    color: red;
}

.button {
    width: 25%;
    text-align: center;
    margin: 5px 15px 5px 0px;
}

.submit {
    width: 30%;
}

#message {
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
#message p {
    color: red;
}

.message_small {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
}

.notice {
    text-align: center;
}

.info {
    color: red;
}

.dbOutDated {
    background-color: #FF0000;
    color: white;
    font-size: 120%;
    padding: 5px;
}

.menu {
    font-size: 80%;
    text-align: center;
}

.normal {

}

.footnote {
    font-size: 80%;
}

.disabled {
    background: gray;
}

.superscript {
    vertical-align: super;
    font-size: 0.75em;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}

.removeFile {
    font-size: 70%;
}

#prevMenu {
    float: left;
    background-color: #eee;
    max-width: 25%;
}

#prevMenu .menuEntry,.menuEntryActive {
    background-color: #fff;
    font-size: 0.7em;
    border: #fff 1px solid;
    border-color: #888;
    padding: 10px;
    margin: 1em;
}

#prevMenu .menuEntryActive {
    border-color: #555;
    background-color: #aaa;
}

#prevMenu .menuEntry:hover {
    background-color: #ffa;
}

#previewContents {
    overflow: auto;
    max-width: 98%;
    padding: 1em;
}

#previewImg {
    text-align: center;
}

#logFile {
    text-align: left;
}

#report {
  background: #ff9;
}


#system {
    width: 100%;
    text-align: left;
    margin: 0px;
}

#system table {
    border-collapse: collapse;
    border: 0px;
    font-size: 75%;
}

#system table tr {
    text-align: left;
}

#system table td {
    padding: 0px;
}

#system table td.section {
    padding-top: 10px;
    padding-bottom: 3px;
    vertical-align: top;
    text-align: left;
    width: 70%;
    font-weight: bold;
}

#system table td.key {
    vertical-align: top;
    text-align: left;
    width: 70%
}

#system table td.subkey {
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    width: 70%
}

#system table td.value {
    vertical-align: top;
    text-align: left;
    width: 30%
}

#psfselection {
    padding-left: 10px;
}

/* Confidence levels for parameters: provided, asIs, verified, 
   reported, estimated, default */
.asIs {
	background: url("../images/param_asis.png") repeat-y left;
}

.verified {
	background: url("../images/param_verified.png") repeat-y left;
}

.reported {
	background: url("../images/param_reported.png") repeat-y left;
}

.estimated {
	background: url("../images/param_estimated.png") repeat-y left;
}

.default {
	background: url("../images/param_default.png") repeat-y left;
}

.provided {
    background: url("../images/param_provided.png") repeat-y left;
}

.message_confidence_asIs {
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    background: url("../images/text_asis.png") no-repeat bottom;
    color: #b09065;
}

.message_confidence_verified {
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    background: url("../images/text_verified.png") no-repeat bottom;
    color: #000000;
}

.message_confidence_reported {
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    background: url("../images/text_reported.png") no-repeat bottom;
    color: #b09065;
}

.message_confidence_estimated {
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    background: url("../images/text_estimated.png") no-repeat bottom;
    color: #1F467F;
}

.message_confidence_default {
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    background: url("../images/text_default.png") no-repeat bottom;
    color: #009C89;
}

.message_confidence_provided {
    border: none;
    height: 30px;
    margin-top: 5px;
    margin-bottom: -5px;
    background: url("../images/text_provided.png") no-repeat bottom;
    color: #555A43;
}

.message_confidence_override {
    border: none;
    height: 15px;
    margin-top: 5px;
    margin-bottom: -5px;
}

#login_user {
    margin: 0px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

#cal_from {
    float: left;
}

#cal_to {
    float: right;
}

#cal_filter {
    font-size: 12px;
}

#phpinfo {
    text-align: left;
    font-size: 10px;
}

#phpinfo tr {
    border-bottom-style: solid;
    border-bottom-color: #ccc;
    border-bottom-width: 0.5px;
}

#phpinfo td {
    text-align: left;
    font-size: 10px;
}

#phpinfo h1 {
    font-size: 18px;
    font-weight: bold;
}

#phpinfo h2 {
    font-size: 14px;
    font-weight: bold;
}

#phpinfo td.e {
    font-weight: bold;
    vertical-align: top;
}

#phpinfo td.v {
    vertical-align: top;
}

#filemanager {
    width: 800px;
    height: 350px;
    text-align: center;
}

#filemanager h3 {
    background-color: #eee;
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#filemanager #left {
    float: left;
    width: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    text-align: right;

}

#filemanager #right {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 350px;
    text-align: left;
}

#filemanager #bottom {
    clear: both;
    width: 800px;
    text-align: center;
    margin-bottom: 50px;
}

#filemanager #bottom p {
    text-align: center;
    font-size: 18px;
}

/* Make sure the tooltip is initially hidden */
.toolTip {
  display: none;
}
