# Configuration files
config/*_config.inc
config/hrm.conf
resources/hrmd.plist
user/login_user.inc
/nbproject/
/.idea/

# local logging directory
log/

# Python bytecode
*.py[cod]

# vim swap files
.*.sw?

# file marking a development version
.hrm_devel_version
