# Configuration files
config.local/
config/*_config.inc
config/hrm.conf
resources/hrmd.plist
user/login_user.inc

# Customization files
images/hrm_custom.ico
images/logo_custom.png
css/custom.css

# IDE project settings
/nbproject/
.idea/
*.iml
/.vscode/

# Python bytecode
*.py[cod]

# vim swap files
.*.sw?

# file marking a development version
.hrm_devel_version

# Composer's vendor folder 
/vendor/

# macOS finder files 
*.DS_Store
*.phpunit.result.cache
