# Configuration files
config.local/
config/*_config.inc
config/hrm.conf
resources/hrmd.plist
user/login_user.inc

# Customization files
images/hrm_custom.ico
images/logo_custom.png
css/custom.css

# IDE project settings
/nbproject/
/.idea/

# Python bytecode
*.py[cod]

# runtime directories
/run/queue/
/run/spool/

# vim swap files
.*.sw?

# file marking a development version
.hrm_devel_version
