{% block main %}
    <label class="control-label">{{ label }}</label>
    <input id="input-2" name={{ varName }} type="file" class="file" multiple data-show-upload="false" data-show-caption="true">
{% endblock %}