<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- 
HRM server daemon for launchd in MacOS X.
As root:
1) Edit this file to refer to the proper locations of your HRM installation
2) Place the file in /Library/LaunchDaemons/
3) Load it with:
   sudo launchctl load -w /Library/LaunchDaemons/hrmd.plist
4) Restart it in two steps:
   sudo launchctl unload /Library/LaunchDaemons/hrmd.plist
   sudo launchctl load /Library/LaunchDaemons/hrmd.plist

-->
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
        <!-- EDIT THE STRING VALUES OF THESE FOUR VARIABLES: -->
	<dict>
                <!-- The HRM home directory, served by Apache -->
		<key>HRM_HOME</key>
		<string>/Library/WebServer/Documents/hrm</string>
                <!-- This directory shouldn't be served by Apache:
                     it contains all user's personal directories with images.-->
		<key>HRM_DATA</key>
		<string>/Library/WebServer/hrm_images</string>
                <!-- The subdirectory names under each user directory,
                     containing the raw images... -->
		<key>HRM_SOURCE</key>
		<string>huygens_src</string>
                <!-- ... and the deconvolved results. -->
		<key>HRM_DEST</key>
		<string>huygens_dst</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>hrmd</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/php</string>
		<string>-q</string>
                <!-- EDIT THIS PATH: -->
		<string>/Library/WebServer/Documents/hrm/run/runHuygensRemoteManager.php</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
        <!-- EDIT THIS PATH and make sure the directory is writable by _www-->
	<key>StandardErrorPath</key>
	<string>/var/log/hrm/log_error_d.txt</string>
        <!-- EDIT THIS PATH and make sure the directory is writable by _www -->
	<key>StandardOutPath</key>
	<string>/var/log/hrm/log_d.txt</string>
	<key>UserName</key>
	<string>root</string>
        <!-- EDIT THIS PATH -->
	<key>WorkingDirectory</key>
	<string>/Library/WebServer/Documents/hrm/run</string>
</dict>
</plist>
