#!/bin/bash
#
# HRM configuration file
#
# This file is part of the Huygens Remote Manager
# Copyright and license notice: see license.txt

# HRM install directory
HRM_HOME="/path/to/hrm/home"

# HRM image share
HRM_DATA="/path/to/hrm/data"

# Source and destination folder names
HRM_SOURCE="huygens_src"
HRM_DEST="huygens_dst"

# User with rights to run /bin/mkdir, /bin/chown,
# /bin/chmod and /bin/rm on the file manager for
# user management - leave empty if apache has
# read/write access to the fileserver and thus
# does not need to sudo these commands
SUSER="apache"

# HRM log directory
HRM_LOG="/var/log/hrm"

# Interaction with OMERO (if switched on in hrm/config).
OMERO_SERVER_USER="omero"
OMERO_HOME="/path/to/OMERO.server"

 