#!/bin/bash
#
# HRM configuration file
#
# This file is part of the Huygens Remote Manager
# Copyright and license notice: see license.txt

# HRM install directory
HRM_HOME="/var/www/html/hrm"

# HRM image share
HRM_DATA="/scratch/hrm_data"

# Source and destination folder names
HRM_SOURCE="src"
HRM_DEST="dst"

# file mode to use for user directories
FILE_MODE=0775

# file mode to use for user directories
FILE_MODE=0775

# User to run the HRM daemon with rights to
# execute /bin/mkdir, /bin/chown, /bin/chmod and
# /bin/rm on HRM_DATA (see above) for user management.
SUSER="hrm"

# HRM log directory
HRM_LOG="/var/log/hrm"

# Interaction with OMERO (if switched on in hrm/config).
# OMERO_PKG specifies the path where the "OMERO.server" package is installed
OMERO_PKG="/opt/OMERO/OMERO.server-5.0.3-ice34-b41.linux"
OMERO_HOSTNAME="localhost"
OMERO_PORT="4064"

# Set a custom PHP CLI binary if necessary:
# PHP_CLI="/usr/local/php/bin/php"

# DEBUG_HRMD can be used to debug the init script:
# DEBUG_HRMD=""
