#!/bin/bash
#
# HRM configuration file
#
# This file is part of the Huygens Remote Manager
# Copyright and license notice: see license.txt

# HRM install directory
HRM_HOME="/path/to/hrm/home"

# HRM image share
HRM_DATA="/path/to/hrm/data"

# Source and destination folder names
HRM_SOURCE="huygens_src"
HRM_DEST="huygens_dst"

# User to run the HRM daemon with rights to
# execute /bin/mkdir, /bin/chown, /bin/chmod and
# /bin/rm on HRM_DATA (see above) for user management.
SUSER="hrm"

# HRM log directory
HRM_LOG="/var/log/hrm"

# Interaction with OMERO (if switched on in hrm/config).
OMERO_SERVER_USER="omero"
# OMERO_PKG specifies the path where the "OMERO.server" package is installed
OMERO_PKG="/path/to/OMERO.server"
OMERO_HOSTNAME="localhost"
OMERO_PORT="4064"

# Set a custom PHP CLI binary if necessary:
# PHP_CLI="/usr/local/php/bin/php"
