<?php
// This file is part of the Huygens Remote Manager
// Copyright and license notice: see license.txt

// parameter for accessing the microscope reservation database
$accounting_db_host = "host";
$accounting_db_user = "user";
$accounting_db_password = "passwd";
$accounting_db_name = "db_name";
$accounting_db_type = "mysql";
?>
