<?php

//==============================================================================
// Database settings
//==============================================================================

// The database type (mysql, postgres, ...)
$db_type = "mysql";

// The name of the database host machine (this may be localhost if it is the 
// machine on which the web server runs)
$db_host = "localhost";

// The name of the database used by HRM
$db_name = "hrm";

// The name of the user with which the database is accessed
$db_user = "dbuser";

// The password of the account with which the database is accessed
$db_password = "dbpasswd";

//==============================================================================
// Huygens settings
//==============================================================================

// Huygens server default user
$huygens_user = "huygens";
$huygens_group = "huygens";

// Path to a local Huygens Core executable, to handle image information and
// thumbnails. This installatation of hucore doesn't require a full license
// unless this is also the computation server. For image information and
// thumbnails mostly freeware functions will be used, but support for certain
// propietary file formats requires a B flag in the license string. (See
// http://support.svi.nl/wiki/FileFormats).
$local_huygens_core = "/usr/local/bin/hucore";

// The HRM needs to know the version of the hucore executable on the
// computation and web servers to make sure that only supported functionalities
// can be accessed. You can find your Huygens version number by running Huygens
// Essential or Pro and going to Help > About, or by launching hucore from a
// shell: then the version number is immediately reported in a line like:
//
// "Huygens Core 3.5.0p1 initializing Compute Engine 3.5.0p1..."
//
// At least the first three numbers are required, the patch level is optional:

$enable_code_for_huygens = "3.5.1";

//==============================================================================
// File server settings
//==============================================================================

// File server host name
$image_host = "localhost";

// File server default user
$image_user = "apache";
$image_group = "apache";

// File server base folder (without trailing /)
$image_folder = "/path/to/hrm_data";

// File server image source folder
$image_source = "huygens_src";

// File server image destination folder
$image_destination = "huygens_dst";

// File server base folder as seen from the Huygens server machines (with trailing /)
$huygens_server_image_folder = "/path/to/hrm_data/";

// Allow HTTP transfer of the restored (download) images
$allowHttpTransfer = true;

// Allow HTTP transfer of original (upload) images
// Limitations in upload size must be configured in the PHP settings (normally
// in php.ini, with the options upload_max_filesize AND post_max_size).
// Unzipping large archives may also require high max_execution_time and
// memory_limit variables.
$allowHttpUpload = true;


// Archiver for downloading the results via the web browser:
// $compressBin is the archiver, including options.  %DEST% will be replaced
// with the user's destination path; can be used as an option or part of the
// command to change directories with 'cd'. Separate commands with "\n".
// $packExcludePath controls whether the archiving command excludes the whole
// file path per file when this is taken into account in the $compressBin
// command itself by using %DEST% properly.

$compressExt = ".zip";

switch ($compressExt) {
    case ".tgz":
    case ".tar.gz":
        $compressBin = "cd %DEST% \n /bin/tar chzf ";
        $packExcludePath = true;
        $dlMimeType = "application/x-force-download";
        break;
    case ".tar":
        $compressBin = "cd %DEST% \n /bin/tar cfh ";
        $packExcludePath = true;
        $dlMimeType = "application/x-force-download";
        break;
    case ".zip":
        $compressBin = "cd %DEST% \n /usr/bin/zip ";
        $packExcludePath =true;
        $dlMimeType = "application/x-force-download";
        break;
    default:
        $compressExt = ".zip";
        $compressBin = "cd %DEST% \n/usr/bin/zip -D";
        $packExcludePath = true;
        $dlMimeType = "application/x-force-download";
}

// ImageMagick convert, for thumbnail handling
$convertBin = "/usr/bin/convert";

//==============================================================================
// HRM configuration parameters
//==============================================================================

// URL
$hrm_url = "http://localhost/hrm";

// Install dir
$hrm_path = "/var/www/html/hrm";

// Logging
// Please create a directory for the logging (default and recommended is /var/log/hrm)
// and make sure to grant read/write access to the web server user. 
$log_verbosity = 1;         // 0=quiet, 1=normal, 2=debug
$logdir  = "/var/log/hrm";
$logfile = "hrm.log";
$logfile_max_size = 100;    // maximum size of the logfile in MB

// Email
$send_mail = true;
$email_sender = "hrm@localhost";
$email_admin = "hrm@localhost";

// Authentication type (MYSQL, LDAP or ACTIVE_DIR)
$authenticateAgainst = "MYSQL";

// If true, users of the microscope reservation system may have access to HRM 
// as well
$allow_reservation_users = false;

// If true, use DES password encryption; if false, use MD5
$useDESEncryption = false;

// If true, the queue manager and the image processing server run on the same 
// machine
$imageProcessingIsOnQueueManager = true;

// If true the images are copied to the huygens server machine
$copy_images_to_huygens_server = false;

// If true, result images will be owned by the user; if false, they will be 
// owned by the user who runs the queue manager
$resultImagesOwnedByUser = false;

// If true, result images will have the job id appended to their names
$resultImagesRenamed = true;

// Thumbnails require Huygens Core 3.3.2 or higher.

// If true, allows generates thumbnails and previews for the originals and the
// results during the deconvolution (i.e. in the computation servers). These
// are maximum intensity projections (MIP) of the stacks along the main axes,
// so they provide xy, xz and zy views.
$useThumbnails = true;

// If true, allows on-demand generation of a preview of the original images in
// this web server prior to the deconvolution. For this to work the variable
// $local_huygens_core must be set correctly above. Notice that not all file
// formats are readable in a freeware Huygens Core and for full functionality
// you may need a license string. Otherwise just let the original thumbnails
// be generated during the deconvolution itself with the previous option.
// This requires $useThumbnails = true;
$genThumbnails = true;

// Moreover, if $genThumbnails is true and Huygens 3.5.1 or higher is
// installed (see $enable_code_for_huygens above), the Signal To Noise ratio
// can be estimated visually from raw images, in the restoration parameters
// editor.

// If larger than zero, generates an AVI movie for 3D stacks that allows
// browsing along the XY slices, and for time series to browse along MIPs in
// time. The movie will have this maximum number of pixels in the largest
// dimension.
// This requires $useThumbnails = true;
$movieMaxSize = 300;

// If true, (and $useThumbnails is also true), it generates not only the MIP
// previews but also Simulated Fluorescence Process top-view renderings of the
// original and the restored images (http://support.svi.nl/wiki/SFP).
$saveSfpPreviews = true;

// Internal links
$internal_link["url"] = "<link> followed by text";

// A shell command that executes ping four times and stops afterwards
$ping_command = 'ping -w 4';	// use this on linux systems
//$ping_command = 'ping';	// use this on cygwin

// The parameter for the ping command after the hostname
$ping_parameter = '';	        // use this on linux systems
//$ping_parameter = '56 4';	// use this on cygwin
?>
