/*

HRM default style v0.2

This file is part of huygens remote manager.

Copyright: Montpellier RIO Imaging (CNRS)

contributors :
         Pierre Travo   (concept)
         Volker Baecker (concept, implementation)

email:
    pierre.travo@crbm.cnrs.fr
    volker.baecker@crbm.cnrs.fr

Web:     www.mri.cnrs.fr

huygens remote manager is a software that has been developed at
Montpellier Rio Imaging (mri) in 2004 by Pierre Travo and Volker
Baecker. It allows running image restoration jobs that are processed
by 'Huygens professional' from SVI. Users can create and manage parameter
settings, apply them to multiple images and start image processing
jobs from a web interface. A queue manager component is responsible for
the creation and the distribution of the jobs and for informing the user
when jobs finished.

This software is governed by the CeCILL license under French law and
abiding by the rules of distribution of free software. You can use,
modify and/ or redistribute the software under the terms of the CeCILL
license as circulated by CEA, CNRS and INRIA at the following URL
"http://www.cecill.info".

As a counterpart to the access to the source code and  rights to copy,
modify and redistribute granted by the license, users are provided only
with a limited warranty and the software's author, the holder of the
economic rights, and the successive licensors  have only limited
liability.

In this respect, the user's attention is drawn to the risks associated
with loading, using, modifying and/or developing or reproducing the
software by the user in light of its specific status of free software,
that may mean that it is complicated to manipulate, and that also
therefore means that it is reserved for developers and experienced
professionals having in-depth IT knowledge. Users are therefore encouraged
to load and test the software's suitability as regards their requirements
in conditions enabling the security of their systems and/or data to be
ensured and, more generally, to use and operate it in the same conditions
as regards security.

The fact that you are presently reading this means that you have had
knowledge of the CeCILL license and that you accept its terms.

*/

/* basic elements */

body {
    background: #fff;
    color: #000;
    font-family: "verdana", "bitsream vera sans", sans-serif;
    text-align: center;
    margin: 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover, a:active {
    color: rgb(196, 0, 9);
}

h1 {
    font-size: 32px;
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 15px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
}

p {
    text-align: left;
}

img {
    vertical-align: middle;
    border: none;
}

textarea {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* specific div elements */

.intro {
    font-size: 16px;
    padding-top: 15px;
    border-top-style: dotted;
    border-top-width: 1px;
    padding-bottom: 15px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
}

#basket {
    width: 800px;
    border: #ccc 2px solid;
    margin: 0px auto 0px auto;
}

#title {
    position: relative;
    height: 86px;
    background: url(../images/title_bkg.png) repeat-x top left;
    padding-left: 180px;
    border: #fff 2px solid;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 186px;
    height: 86px;
    background: url(../images/logo.png) no-repeat top left;
}

#stats {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#statschart {
    width: 800px;
    height: 400px;
    margin: 16px 0px 10px 0px;
    border-top: #ccc 1px dotted;
}

#statstable {
    font-weight: normal;
    font-size: 0.7em;
    margin-left: 50px;
    margin-right: 50px;
    border-top: #ccc 1px dotted;
}

#statstable h3 {
    color: rgb(62,87,111);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
}

#statstable table {
    margin-bottom: 20px;
}

#statstable table th {
    text-align: center;
    font-weight: bold;
    background-color: #eee;
}

#nav {
    color: #888;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    border-top: #ccc 2px solid;
    border-bottom: #ccc 2px solid;
}

#nav ul {
    list-style-type: none;
    padding: 2px 0px 4px 6px;
    margin: 0px;
}

#nav li {
    display: inline;
    padding-right: 10px;
}

#nav a:link {
    font-weight: bold;
    color: #000;
}

#nav a:visited {
    font-weight: bold;
    color: #000;
}

#controls {
    text-align: center;
    border-top: #ccc 1px dotted;
    margin-top: 30px;
    width: 100%;
}

#content {
    float: left;
    width: 480px;
    text-align: left;
    border-right-style: dotted;
    border-right-width: 1px;
    margin: 0px 0px 0px 0px;
    padding: 3px 15px 5px 15px;
}

#content h3 {
    background-color: #eee;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#content h4 {
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}

#content p {
    text-align: justify;
}

#logos {
    font-size: 70%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 3em;
}

#logos div {
    float: left;
    width: 150px;
    padding-right: 4px;
    padding-bottom: 1em;
    padding-left: 4px;
}

#logos div p {
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}

#templates select {
    width: 100%;
}

#userfiles select {
    width: 100%;
    text-align: left;
}

#selection {
    font-size: 0.8em;
    text-align: center;
}

#selection select {
    width: 50%;
}

#selection input {
    vertical-align: middle;
}

#up_form {
    font-size: 0.8em;
    text-align: center;
}

#up_form input {
    vertical-align: middle;
}

#upload_list {
    padding: 15px;
    margin: 15px;
    border: #ccc 2px solid;
}

#upload_list input {
    width: 90%;
}

#settings select {
    width: 100%;
}

#selectedfiles select {
    width: 100%;
    text-align: left;
}

#upMsg {
    text-align: center;
    font-size: 70%;
    padding: 5px 0 0 0;
}

input.copy {
    background: url(../images/copy.png) no-repeat center;
}

input.down {
    background: url(../images/add.png) no-repeat center;
}

input.remove {
    background: url(../images/remove.png) no-repeat center;
}

input.create {
    background: url(../images/create.png) no-repeat center;
}

input.edit {
    background: url(../images/edit.png) no-repeat center;
}

input.clone {
    background: url(../images/clone.png) no-repeat center;
}

input.mark {
    background: url(../images/mark.png) no-repeat center;
}

input.delete {
    background: url(../images/delete.png) no-repeat center;
}

input.update {
    background: url(../images/update.png) no-repeat center;
}

input.download {
    background: url(../images/download.png) no-repeat center;
}
input.upload {
    background: url(../images/upload.png) no-repeat center;
}

input.save {
    width: 60px;
    height: 60px;
    background: url(../images/save.png) no-repeat center;
}

#actions label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
}

#actions {
    text-align: center;
    font-size: 70%;
    padding: 5px 0 0 0;
}

#login {
    font-size: 14px;    
}

#login legend {
    font-size: 16px;
    font-weight: bold;
}

#login p.expl {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding: 0px 5px;
}

#rightpanel {
    float: right;
    width: 250px;
    text-align: right;
    margin: 0px 0px 0px 0px;
    padding: 3px 15px 5px 15px;
}

#info {
    text-align: center;
    padding: 0px;
    width: 100%;
    line-height: 1.5;
}

#output {
    width: 100%;
}

#info p {
    font-size: 12px;
    text-align: justify;
}

#info p.report {
    font-size: 11px;
    text-align: left;
}

#info h3 {
    background-color: #eee;
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
}

#footer {
    clear: both;
    font-size: 60%;
    padding: 5px 0px 5px 0px;
    border-top: #ccc 2px solid;
    border-bottom: #ccc 2px solid;
}

#about {
    clear: both;
    font-size: 60%;
    padding: 5px 0px 5px 0px;
}

#validation {
    background: url(../images/validation_bkg.png) repeat-x top left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#joblist {
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    margin-top: 20px;
}

#input input {
    vertical-align: middle;
}

#queue {
    margin-bottom: 1em;
}

#queue table {
    font-size: 80%;
    padding-bottom: 1em;
}

#queue td {
    text-align: center;
    border: thin solid;
}

#queue td.del {
    width: 3%;
}

#queue td.nr {
    width: 3%;
}

#queue td.owner {
    width: 10%;
}

#queue td.files {
    width: 24%;
}

#queue td.created {
    width: 15%;
}

#queue td.status {
    width: 8%;
}

#queue td.started {
    width: 15%;
}

#queue td.stop {
    width: 15%;
}

#queue td.pid {
    width: 8%;
}

#queue td.server {
    width: 14%;
}

#queue input {
    vertical-align: middle;
}

#listusers {
    text-align: center;
    padding-bottom: 1em;
}

#listusers table {
    font-size: 70%;
}

#listusers tr.upline {
    border-right: thin solid;
    border-top: thin solid;
    border-left: thin solid;
}

#listusers tr.bottomline {
    margin-bottom: 1em;
    border-right: thin solid;
    border-left: thin solid;
    border-bottom: thin solid;
}

#listusers p {
    text-align: center;
}

#listusers td {
    padding: 3px;
}

#listusers td.menu {
    padding: 0px;
}

#listusers td.hr {
    padding: 0px;
}

#listusers td.notice {
    font-size: medium;
}

#homepage {
    width: 750px;
    text-align: left;
    margin: 15px;
}

#homepage table {
    border: 0px;
    font-size: 14px;
}

#homepage table tr {
    height: 120px;
    vertical-align: bottom;
}

#homepage table td {
    padding: 3px;
}

#homepage table td.icon {
    width: 120px;
}

#homepage table td img {
    width: 96px;
    height: 96px;
}

#homepage table td.text {
    vertical-align: top;
    text-align: left;
    width: 50%;
}

#homepage .cell {
    position:relative;
    top: 25px;
}

#homepage table a:link {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

#homepage table a:visited {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

#cmle-snr {
    text-align: left;
}

#qmle-snr {
    text-align: left;
}

td {
    text-align: center;
}

td.name {
    text-align: left;
}

td.group {
    text-align: center;
}

td.email {
    width: 50%;
    text-align: right;
}

td.date {
    text-align: left;
}

td.operations {
    text-align: right;
}

td.operations input {
    font-size: 70%;
}

tr.disabled {
    background: silver;
}

a.selected {
    color: black;
    text-decoration: none;
    border: solid 1px;
}

a.empty {
    color: rgb(194, 26, 26);
    text-decoration: none;
    border: solid 1px white;
    font-size: 9px;
}

a.filled {
    color: blue;
    text-decoration: none;
    border: solid 1px white;
    font-size: 9px;
}

#box #adduser {
    padding-right: 5em;
}

#adduser {
    text-align: right;
    padding-right: 3em;
}

#adduser textarea {
    width: 50%;
}

#addanotherfile {
    margin: 5px;
    color: #f23;
    font-size: 80%;
}

span.spacer {
    display: block;
    clear: both;
}

fieldset {
    margin: 5px;
    margin-top: 15px;
    padding: 10px 5px 10px 10px;
}

fieldset legend {
    font-size: 1.0em;
    font-weight: bold;
}

fieldset.report {
    margin-top:10px;
    margin-bottom:10px;
}

fieldset.p {
    
}


ol li {
    display: inline;
}

input {
    text-align: center;    
}

input.icon {
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 0px;
    text-align: left;
    cursor: pointer;
    border: none;
}

input.empty {
    width: 60px;
    height: 60px;
    cursor: default;
    background: url(../images/empty.png);
}

input.previous {
    width: 60px;
    height: 60px;
    background: url(../images/previous.png) no-repeat right;
}

input.next {
    width: 60px;
    height: 60px;
    background: url(../images/next.png) no-repeat right;
}

input.up {
    width: 60px;
    height: 60px;
    background: url(../images/up.png) no-repeat right;
}

input.calc {
    width: 60px;
    height: 60px;
    background: url(../images/calc.png) no-repeat right;
}

input.ok {
    width: 60px;
    height: 60px;
    background: url(../images/ok.png) no-repeat center;
}

input.cancel {
    width: 60px;
    height: 60px;
    background: url(../images/cancel.png) no-repeat center;
}

input.apply {
    width: 60px;
    height: 60px;
    background: url(../images/apply.png) no-repeat center;
}

input.back {
    width: 60px;
    height: 60px;
    background: url(../images/back.png) no-repeat center;
}

input.restart {
    width: 60px;
    height: 60px;
    background: url(../images/restart.png) no-repeat center;
}

input.noPreview {
    width: 200px;
    height: 200px;
    background: url(../images/no_preview_button.png) no-repeat center;
}

.expandedView {
    font-size: 70%;
}

#ithumb {
    padding-top: 3px;
    padding-bottom: 0;
}
#ithumba {
    padding-top: 3px;
    padding-bottom: 0;
}
#ithumbb {
    padding-bottom: 0;
    background: #444;
    padding-top: 1px;
}

select {
    width: 100%;
    text-align: center;
}

select.snrselect {
    width: 30%;
}

span.multichannel {
    margin-left: -8px;
}

div.multichannel {
    padding-top: 5px;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.nowrap_noborder {
    border: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;   
}

.multichannelinput {
    text-align: center;
}

option.default {
    color: #078d1b;
}

.line {
    display: block;
}

.textfield {
    width: 50%;
    text-align: left;
    vertical-align: middle;
    margin-right: 5px;
}

.psffile {
    width: 70%;
}

.psfmissing {
    width: 70%;
    color: red;
}

.button {
    width: 25%;
    text-align: center;
    margin: 5px 15px 5px 0px;
}

.submit {
    width: 30%;
}

.message {
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.message_small {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
}

.warning {
    font-weight: bold;
    color: red;
}

.notice {
    text-align: center;
}

.info {
    color: red;
}

.dbOutDated {
    background-color: #FF0000;
    color: white;
    font-size: 120%;
    padding: 5px;
}

.menu {
    font-size: 80%;
    text-align: center;
}

.normal {

}

.footnote {
    font-size: 80%;
}

.disabled {
    background: gray;
}

.superscript {
    vertical-align: super;
    font-size: 0.75em;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}

.removeFile {
    font-size: 70%;
}

#prevMenu {
    float: left;
    background-color: #eee;
    max-width: 25%;
}

#prevMenu .menuEntry,.menuEntryActive {
    background-color: #fff;
    font-size: 0.7em;
    border: #fff 1px solid;
    border-color: #888;
    padding: 10px;
    margin: 1em;
}
#prevMenu .menuEntryActive {
    border-color: #555;
    background-color: #aaa;
}

#prevMenu .menuEntry:hover {
    background-color: #ffa;
}

#previewContents {
    
    overflow: auto;
    max-width: 98%;
    padding: 1em;
}
#previewImg {
    text-align: center;
}

#logFile {
    text-align: left;
}

#report {
    background: #ff9;
}


#system {
    width: 100%;
    text-align: left;
    margin: 0px;
}

#system table {
    border-collapse: collapse;
    border: 0px;
    font-size: 75%;
}

#system table tr {
    text-align: left;
}

#system table td {
    padding: 0px;
}

#system table td.section {
    padding-top: 5px;
    vertical-align: top;
    text-align: left;
    width: 70%;
    font-weight: bold;
}

#system table td.key {
    vertical-align: top;
    text-align: left;
    width: 70%
}

#system table td.subkey {
    vertical-align: top;
    text-align: left;
    padding-left: 20px;
    width: 70%
}

#system table td.value {
    vertical-align: top;
    text-align: left;
    width: 30%
}

/* Confidence levels for parameters: Trusted, Untrusted, Missing, Provide */
.Trusted {
	background: url(../images/paramTrusted.png) repeat-y left;
}

.Untrusted {
	background: url(../images/paramUntrusted.png) repeat-y left;
}

.Missing {
	background: url(../images/paramMissing.png) repeat-y left;
}

.Provide {
    background: url(../images/paramProvide.png) repeat-y left;
}
