[Unit]
Description=HRM (Huygens Remote Manager) Queue Manager Service
# For both 'Requires=' and 'After=', please set one of mysql.service
# (or mysqld.service), mariadb.service (fork of mysql), postgresql.service.
# Please check the correct name of the service for your distribution!
Requires=mysql.service
Wants=network-online.target
After=mysql.service network.target network-online.target

[Service]
# If needed, change 'User=' and 'Group=' to point to the correct values.
User=hrm
Group=hrm
# Setting UMask is required to allow the Queue Manager for relaxing permissions
# of the upload / download directories so Apache is allowed to write there:
UMask=0002
ExecStart=/var/www/html/hrm/bin/hrm_queuemanager --detach
Type=forking
PIDFile=/var/log/hrm/hrmd.pid
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
