{# templates/base.twig #}
<!DOCTYPE html>
<html lang="en">

<head>
{% include 'head.twig' %}
    {% block head %}
{% endblock %}
</head>

<body>

<header>
{% block header %}
{% endblock %}
</header>

{% block navigation %}
    {% include 'landing_nav.twig' %}
{% endblock %}

<div class="container-fluid">
{% block main %}
{% endblock %}
</div>

{% block footer %}
    {% include 'footer.twig' %}
{% endblock %}

</body>

</html>