{# templates/image_parameters.twig #}
{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/chan_num_parameter.css">
{% endblock %}

{% block main %}
    <form action="" method="post" id="capturing_parameter">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <h3 class="text-center">Edit Microscopic Parameters</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : VoxelSizeXY.title,
                'label'      : VoxelSizeXY.label,
                'varName'    : VoxelSizeXY.varName,
                'value'      : VoxelSizeXY.value,
                'confidence' : VoxelSizeXY.confidence,
                'min'        : VoxelSizeXY.min,
                'max'        : VoxelSizeXY.max,
                'step'       : VoxelSizeXY.step} %}
                {% include 'base/num_parameter_panel.twig' with vars %}
            </div>
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : ZStepSize.title,
                'label'      : ZStepSize.label,
                'varName'    : ZStepSize.varName,
                'value'      : ZStepSize.value,
                'confidence' : ZStepSize.confidence,
                'min'        : ZStepSize.min,
                'max'        : ZStepSize.max,
                'step'       : ZStepSize.step} %}
                {% include 'base/num_parameter_panel.twig' with vars %}
            </div>
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : TimeInterval.title,
                'label'      : TimeInterval.label,
                'varName'    : TimeInterval.varName,
                'value'      : TimeInterval.value,
                'confidence' : TimeInterval.confidence,
                'min'        : TimeInterval.min,
                'max'        : TimeInterval.max,
                'step'       : TimeInterval.step} %}
                {% include 'base/num_parameter_panel.twig' with vars %}
            </div>
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : PinholeSize.title,
                'varName'    : PinholeSize.varName,
                'values'     : PinholeSize.values,
                'confidence' : PinholeSize.confidence,
                'min'        : PinholeSize.min,
                'max'        : PinholeSize.max,
                'step'       : PinholeSize.step,
                'chanCnt'    : PinholeSize.chanCnt} %}
                {% include 'base/chan_num_parameter_panel.twig' with vars %}
            </div>
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : PinholeSpacing.title,
                'label'      : PinholeSpacing.label,
                'varName'    : PinholeSpacing.varName,
                'value'      : PinholeSpacing.value,
                'confidence' : PinholeSpacing.confidence,
                'min'        : PinholeSpacing.min,
                'max'        : PinholeSpacing.max,
                'step'       : PinholeSpacing.step} %}
                {% include 'base/num_parameter_panel.twig' with vars %}
            </div>
        </div>
        <div class="form-group">
            <ul class="pager">
                <li><a onclick="deleteValuesAndRedirect('microscope_parameter.php');"
                       href="javascript:void(0);">
                        Previous
                    </a>
                </li>
                <li><a onclick="deleteValuesAndProcess();"
                       href="javascript:void(0);">
                        Next
                    </a>
                </li>
                <div><input name="OK" type="hidden"/></div>
            </ul>
        </div>
    </form>

    {% include 'base/alert_message.twig' with vars %}
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        function process() {
            var el = $("form input[name='OK']:hidden");
            if (null === el) {
                return;
            }
            var fr = $("form#capturing_parameter");
            if (null === fr) {
                return;
            }
            if ($.contains(fr.get(0), el.get(0))) {
                el.val("OK");
                fr.submit();
            }
        }
    </script>

    <script type="text/javascript">
        // Requires jQuery
        function deleteValues( idArray ) {
            if (!window.sessionStorage) {
            return;
        }

        $("select").each(
        function() {
            window.sessionStorage.removeItem( $(this).attr("name") );
        } );
        $( $.merge( $("input[type=text]"), $("input[type=radio]") ) ).each(
        function() {
                window.sessionStorage.removeItem( $(this).attr("id") );
            } );
        }
    </script>

    <script type="text/javascript">
        function deleteValuesAndProcess() {
            deleteValues();
            process();
        }
    </script>

    <script type="text/javascript">
        function deleteValuesAndRedirect(page) {
            deleteValues();
            window.location = page;
        }
    </script>
{% endblock %}
