{# templates/developers.twig #}
{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/login.css">
{% endblock %}


{% block main %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center text-primary">HRM Development Team 2017</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                    <h3 class="text-center">
                        Aaron Ponti
                    </h3>
                    <p class="text-center">
                        ETH Zurich D-BSSE
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                    <h3 class="text-center">
                        Niko Ehrenfeuchter
                    </h3>
                    <p class="text-center">
                        Uni Basel
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                    <h3 class="text-center">
                        Daniel Sevilla
                    </h3>
                    <p class="text-center">
                        SVI
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                    <h3 class="text-center">
                        Torsten Stoeter
                    </h3>
                    <p class="text-center">
                        LIN / CNI Magdeburg
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                    <h3 class="text-center">
                        Felix Meyenhofer
                    </h3>
                    <p class="text-center">
                        Uni Fribourg
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="center-block img-circle img-responsive">
                    <h3 class="text-center">
                        Laurent Gerard
                    </h3>
                    <p class="text-center">
                        Uni Basel
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cover" style="opacity: 0.5;">
        <div class="cover-image">
        </div>
    </div>
{% endblock %}

