{# templates/footer.twig #}
{% block head %}
    <link rel="stylesheet" href="css/footer.css">
{% endblock %}

<div class="footer-clean">
    <footer>
        <div class="container">
            <p class="copyright">Released under the terms of the
                <a href="http://www.huygens-rm.org/wp/?page_id=81">
                    CeCILL license
                </a>.
            <br />
            Copyright © 2004, 2006 - 2017</p>
            <div class="row">
                <div class="col-md-3 col-sm-4 item">
                    <h3>Documentation</h3>
                    <ul>
                        <li><a href="http://huygens-remote-manager.readthedocs.io/en/latest/user/index.html">
                                User manual
                            </a>
                        </li>
                        <li><a href="http://www.svi.nl/FrontPage">
                                SVI wiki
                            </a>
                        </li>
                        <li><a href="http://huygens-rm.org">
                                HRM project site
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    <h3>Support</h3>
                    <ul>
                        <li>
                            <a href="https://lists.sourceforge.net/lists/listinfo/hrm-list">
                                Mailing list
                            </a>
                        </li>
                        <li>
                            <a href="http://hrm.svi.nl:8080/redmine/projects/public/issues/new">
                                Submit issue
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 item">
                    &nbsp;
                </div>
                <div class="col-md-3 item social">
                    <a href="https://twitter.com/HuygensRM">
                        <i class="fa fa-twitter">
                        </i>
                    </a>
                    <a href="https://www.github.com/aarpon/hrm">
                        <i class="fa fa-github">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>