{# templates/head.twig #}

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>Huygens Remote Manager</title>

<!-- Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Stylesheets -->
<link rel="stylesheet" href="vendor/bootflat/bootflat/css/bootstrap.min.css">
<link rel="stylesheet" href="vendor/bootflat/bootflat/bootflat/css/bootflat.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/base.css">
<link rel="stylesheet" href="css/footer.css">

<!-- Javascript -->
<script type="text/javascript" src="vendor/components/jquery/jquery.min.js"></script>
<script type="text/javascript" src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="scripts/json-rpc-client.js"></script>

