{# templates/home.twig #}
{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/home.css">
{% endblock %}

{% block main %}
    {% if isAdmin %}
        <div class="section">
            <div class="container">
                <div class="row with-margin">
                    <div class="col-md-4 text-center">
                        <a href="select_parameter_settings.php">
                        <span class="glyphicon glyphicon-list-alt"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Manage microscopy, restoration and analysis templates.">
                        </span>
                            <h3 class="text-center">My Templates</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="file_management.php?folder=src">
                        <span class="glyphicon glyphicon-folder-open"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Manage raw data and deconvolved files.">
                        </span>
                            <h3 class="text-center">My Files</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="account.php">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="View and change your personal data.">
                        </span>
                            <h3 class="text-center">My Account</h3>
                        </a>
                    </div>
                </div>
                <div class="row with-margin">
                    <div class="col-md-4 text-center">
                        <a href="user_management.php">
                        <span class="glyphicon glyphicon-book"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="View, add, edit and delete users.">
                        </span>
                            <h3 class="text-center">Manage Users</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="statistics.php">
                        <span class="glyphicon glyphicon-stats"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Generate global statistics on the tasks submitted to the server.">
                        </span>
                            <h3 class="text-center">Global Statistics</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="job_queue.php">
                        <span class="glyphicon glyphicon-tasks"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="See all jobs.">
                        </span>
                            <h3 class="text-center">Job Queue</h3>
                        </a>
                    </div>
                </div>
                <div class="row with-margin">
                    <div class="col-md-4 text-center">
                        <a href="servers.php">
                        <span class="glyphicon glyphicon-th"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Add servers and GPU cards for faster processing.">
                        </span>
                            <h3 class="text-center">Servers & GPUs</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="system.php">
                        <span class="glyphicon glyphicon-cog"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Inspect your system.">
                        </span>
                            <h3 class="text-center">System Summary</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="update.php">
                        <span class="glyphicon glyphicon-open"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Update the database to the latest version.">
                        </span>
                            <h3 class="text-center">Database Update</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="section">
            <div class="container">
                <div class="row with-margin">
                    <div class="col-md-4 text-center">
                        <a href="select_images.php">
                        <span class="glyphicon glyphicon-play-circle"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Start restoration and/or analysis jobs.">
                        </span>
                            <h3 class="text-center">Submit a Job</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="file_management.php?folder=src">
                        <span class="glyphicon glyphicon-folder-open"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Manage raw data and deconvolved files.">
                        </span>
                            <h3 class="text-center">My Files</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="job_queue.php">
                        <span class="glyphicon glyphicon-tasks"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="See all your jobs.">
                        </span>
                            <h3 class="text-center">My Job Queue</h3>
                        </a>
                    </div>
                </div>
                <div class="row with-margin">
                    <div class="col-md-4 text-center">
                        <a href="select_parameter_settings.php">
                        <span class="glyphicon glyphicon-list-alt"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Manage microscopy, restoration and analysis templates.">
                        </span>
                            <h3 class="text-center">My Templates</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="statistics.php">
                        <span class="glyphicon glyphicon-stats"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="Generate statistics on the tasks submitted to the server.">
                        </span>
                            <h3 class="text-center">My Statistics</h3>
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="account.php">
                        <span class="glyphicon glyphicon-user"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              title="View and change your personal data.">
                        </span>
                            <h3 class="text-center">My Account</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        // Function checkForUpdates
        function checkForUpdates() {
            JSONRPCRequest({
                    method: 'jsonCheckForUpdates',
                    params: []
                }, function (response) {

                    var updateDiv = $("#update");
                    if (!response || response.success === "false") {
                        updateDiv.html("<p class='updateError'>" +
                            "<img src=\"images/check_for_update.png\" alt=\"Error\" />" +
                            "&nbsp;&nbspError: could not retrieve version " +
                            "information!</p>");
                        updateDiv.show();
                        return;
                    }
                    if (response.newerVersionExist === "false") {
                        updateDiv.html("<p class='noUpdateNotification'>" +
                            "<img src=\"images/check_for_update.png\" alt=\"Latest version\" />" +
                            "&nbsp;&nbspCongratulations! You are running the " +
                            "latest version of the HRM!</p>");
                        updateDiv.show();
                        return;
                    }
                    updateDiv.html(
                        "<p class='updateNotification'>" +
                        "<a href='#'>" +
                        "<img src=\"images/check_for_update.png\" alt=\"New version\" />" +
                        "&nbsp;&nbspA newer version of the HRM (" +
                        response.newVersion +
                        ") is available!</a></p>");
                    updateDiv.on("click", function () {
                        openWindow("http://huygens-rm.org/home/?q=node/4");
                    });
                    updateDiv.show();

                }
            )
        }

        // Hide the "update" div in the beginning
        $(document).ready(function () {
            $("#update").hide();
        });

        {% if isAdmin %}
        $(document).ready(function () {

            // Fill in the information about jobs in the queue as soon as the
            // page is ready
            update();

            // Set up timer for the repeated update
            window.setInterval(function () {
                update();
            }, 5000);

            // Function that queries the server via an Ajax call
            function update() {
                ajaxGetNumberOfUserJobsInQueue(
                    'jobsInQueue',
                    '<p>See all jobs.<br />You have <strong>',
                    '</strong> in the queue.</p>');
            }

        });
        {% endif %}
    </script>
{% endblock %}