{# templates/image_parameters.twig #}
{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/chan_num_parameter.css">
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-sm-3">
            {% set vars = {'title'   : 'Microscope Type',
            'name'    : 'micrType',
            'chanCnt' : '5',
            'options' : ''
            } %}
            {% include 'chan_dropdown_parameter.twig' with vars %}
        </div>
        <div class="col-sm-3">
            {% set vars = {'title'   : 'Excitation Wavelength',
            'name'    : 'lambdaEx',
            'chanCnt' : '5'} %}
            {% include 'chan_num_parameter.twig' with vars %}
        </div>
        <div class="col-sm-3">
            {% set vars = {'title'   : 'Emission Wavelength',
            'name'    : 'lambdaEm',
            'chanCnt' : '5'} %}
            {% include 'chan_num_parameter.twig' with vars %}
        </div>
        <div class="col-sm-3">
            {% set vars = {'title'   : 'Backprojected Pinhole Radius',
            'name'    : 'bppRadius',
            'chanCnt' : '5'} %}
            {% include 'chan_num_parameter.twig' with vars %}
        </div>
    </div>
{% endblock %}


