{# templates/image_parameters.twig #}
{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/chan_num_parameter.css">
{% endblock %}

{% set NumberOfChannels = 3 %}

{% block main %}
<form action="" method="post" id="image_format">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <h3 class="text-center">Edit Microscopic Parameters</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {% set vars = {
            'title'   : 'Number of Channels',
            'label'   : 'Channels: ',
            'varName' : 'NumberOfChannels',
            'min'     : 1,
            'max'     : 6,
            'step'    : 1,
            'footer'  : 'HRM internal parameter.',
            'type'    : 'success'} %}
            {% include 'num_parameter.twig' with vars %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {% set vars = {
            'title'   : 'Point Spread Function',
            'label'   : 'PSF',
            'varName' : 'PointSpreadFunction',
            'footer'  : 'HRM internal parameter.',
            'type'    : 'success',
            'options' : ['Theoretical','Measured']} %}
            {% include 'dropdown_parameter.twig' with vars %}
        </div>
    </div>
    <div class="form-group">
        <ul class="pager">
            <li><a onclick="process();" href="javascript:void(0);">Previous</a></li>
            <li><a onclick="process();" href="javascript:void(0);">Next</a></li>
            <div><input name="OK" type="hidden"/></div>
        </ul>
    </div>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function process() {
            var el = $("form input[name='OK']:hidden");
            if (null === el) {
                return;
            }
            var fr = $("form#image_format");
            if (null === fr) {
                return;
            }
            if ($.contains(fr.get(0), el.get(0))) {
                el.val("OK");
                fr.submit();
            }
        }
    </script>
{% endblock %}