{# templates/default_nav.twig #}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="index_new.php" class="navbar-brand navbar-link">
                HRM {{version}}
            </a>
            <button data-toggle="collapse"
                    data-target="#navcol-1"
                    class="navbar-toggle collapsed">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <!-- Hamburger menu -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <!-- / Hamburger menu -->
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">

            <!-- Navigation links left side -->
            <ul class="nav navbar-nav">
                <li role="presentation">
                    <a href="#">Mailing list</a>
                </li>
                <li role="presentation">
                    <a href="#">What&#39;s new?</a>
                </li>
                <li role="presentation">
                    <a href="#">HRM project site</a>
                </li>
                <li role="presentation">
                    <a href="#">SVI wiki</a>
                </li>
            </ul>

            <!-- Navigation links right side -->
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation">
                    <a href="registration_new">Sign up</a>
                </li>
                <li role="presentation" class="active">
                    <a href="login_new.php">Log in</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
