{# templates/landing.twig #}
{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/logos.css">
{% endblock %}

{% block main %}
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Welcome</h2>
                <p class="text-center">The <a href="http://www.huygens-rm.org/">Huygens Remote Manager</a> is an easy
                    to use interface to the Huygens Software by <a href="http://www.svi.nl">
                        Scientific Volume Imaging B.V.</a> that allows for multi-user, large-scale
                    deconvolution and analysis.</p>
            </div>
            <div class="row features">
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_epfl.jpg" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="http://biop.epfl.ch/">
                                BIOP
                            </a>
                        </h3>
                        <p class="description">EPF Lausanne</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_fmi.png" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="http://www.fmi.ch/faim">
                                FAIM
                            </a>
                        </h3>
                        <p class="description">Friedrich Miescher Institute</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_mri.png" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="http://www.mri.cnrs.fr/">
                                RIO Imaging
                            </a>
                        </h3>
                        <p class="description">BioCampus Montpellier</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_bsse.jpg" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="#">
                                Single Cell Facility
                            </a>
                        </h3>
                        <p class="description">ETH Zurich</p></div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_svi.png" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="http://www.svi.nl">
                                Scientific Volume Imaging
                            </a>
                        </h3>
                        <p class="description">&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_lin.jpeg" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="#">
                                LIN Magdeburg
                            </a>
                        </h3>
                        <p class="description">Leibniz Institute for Neurobiology</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_cni.png" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="#">
                                CNI Magdeburg
                            </a>
                        </h3>
                        <p class="description">Combinatorial NuroImaging Core Facility</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 item">
                    <div class="box">
                        <div class="logo">
                            <img src="images/logo_biozentrum.png" width="140"/>
                        </div>
                        <h3 class="name">
                            <a href="https://www.biozentrum.unibas.ch/research/groups-platforms/overview/unit/imcf/">
                                IMCF
                            </a>
                        </h3>
                        <p class="description">Biozentrum UniBasel</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

