{# templates/image_parameters.twig #}
{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/chan_num_parameter.css">
{% endblock %}

{% block main %}
    <div class="row">
        <div class= "col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <h3 class="text-center">Edit Microscopic Parameters</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-sm-4 col-md-3 col-lg-3">
            {% set vars = {
            'title'   : 'Microscope Type',
            'name'    : 'micrType',
            'chanCnt' : chanCnt,
            'footer'  : 'HRM internal parameter.',
            'type'    : 'success',
            'options' : ['Confocal','Widefield','Spinning Disk','Two Photon','STED','STED 3D','SPIM']} %}
            {% include 'chan_dropdown_parameter.twig' with vars %}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-6">
            <h3 class="text-center">Refractive Indices</h3>
            <p class="text-center">How did you set up your microscope?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
            {% set vars = {
            'title'   : 'Numerical Aperture',
            'label'   : 'NA: ',
            'varName' : 'na',
            'min'     : 0.2,
            'max'     : 1.5,
            'step'    : 0.1,
            'footer'  : 'HRM internal parameter.',
            'type'    : 'success'} %}
            {% include 'base/num_parameter.twig' with vars %}
        </div>
        <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
            {% set vars = {
            'title'   : 'Objective Type',
            'varName' : 'objType',
            'footer'  : 'HRM internal parameter.',
            'type'    : 'success'} %}
            {% include 'objective_type.twig' with vars %}
        </div>
        <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
            {% set vars = {
            'title'   : 'Sample Medium',
            'varName' : 'sampleMedium',
            'footer'  : 'HRM internal parameter.',
            'type'    : 'success'} %}
            {% include 'sample_medium.twig' with vars %}
        </div>
    </div>
    <ul class="pager">
        <li><a href="image_format.php">Previous</a></li>
        <li><a href="capturing_parameter_new.php">Next</a></li>
    </ul>
{% endblock %}


