{# templates/image_parameters.twig #}
{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/chan_num_parameter.css">
{% endblock %}

{% block main %}
    <form action="" method="post" id="microscope_parameter">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <h3 class="text-center">Edit Microscopic Parameters</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 col-sm-6 col-md-4 col-lg-4">
                {% set vars = {
                'title'      : MicroscopeType.title,
                'label'      : MicroscopeType.label,
                'varName'    : MicroscopeType.varName,
                'confidence' : MicroscopeType.confidence,
                'options'    : MicroscopeType.options} %}
                {% include 'base/choice_parameter_panel.twig' with vars %}
            </div>
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : NumericalAperture.title,
                'label'      : NumericalAperture.label,
                'varName'    : NumericalAperture.varName,
                'min'        : NumericalAperture.min,
                'max'        : NumericalAperture.max,
                'step'       : NumericalAperture.step,
                'confidence' : NumericalAperture.confidence} %}
                {% include 'base/num_parameter_panel.twig' with vars %}
                {#{% set vars = {#}
                {#'title'   : 'Objective Type',#}
                {#'varName' : 'ObjectiveType',#}
                {#'footer'  : 'HRM internal parameter.',#}
                {#'type'    : 'success'} %}#}
                {#{% include 'objective_type.twig' with vars %}#}
            </div>
            {#<div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">#}
                {#{% set vars = {#}
                {#'title'   : 'Sample Medium',#}
                {#'varName' : 'SampleMedium',#}
                {#'footer'  : 'HRM internal parameter.',#}
                {#'type'    : 'success'} %}#}
                {#{% include 'sample_medium.twig' with vars %}#}
            {#</div>#}
            {#<div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">#}
                {#{% set vars = {#}
                {#'title'   : 'Excitation Wavelength',#}
                {#'varName' : 'ExcitationWavelength',#}
                {#'min'     : 400,#}
                {#'max'     : 700,#}
                {#'step'    : 1,#}
                {#'chanCnt' : chanCnt,#}
                {#'footer'  : 'HRM internal parameter.',#}
                {#'type'    : 'success'} %}#}
                {#{% include 'base/chan_num_parameter_panel.twig' with vars %}#}
            {#</div>#}
            {#<div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">#}
                {#{% set vars = {#}
                {#'title'   : 'Emission Wavelength',#}
                {#'varName' : 'EmissionWavelength',#}
                {#'min'     : 400,#}
                {#'max'     : 700,#}
                {#'step'    : 1,#}
                {#'chanCnt' : chanCnt,#}
                {#'footer'  : 'HRM internal parameter.',#}
                {#'type'    : 'success'} %}#}
                {#{% include 'base/chan_num_parameter_panel.twig' with vars %}#}
            {#</div>#}
        </div>
        <div class="form-group">
            <ul class="pager">
                <li>
                    <a onclick="document.location.href='image_format.php'"
                       href="javascript:void(0);">
                        Previous
                    </a>
                </li>
                <li>
                    <a onclick="process();"
                       href="javascript:void(0);">
                        Next
                    </a>
                </li>
                <div>
                    <input name="OK" type="hidden"/>
                </div>
            </ul>
        </div>
    </form>

    {% include 'base/alert_message.twig' with vars %}
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        function process() {
            var el = $("form input[name='OK']:hidden");
            if (null === el) {
                return;
            }
            var fr = $("form#microscope_parameter");
            if (null === fr) {
                return;
            }
            if ($.contains(fr.get(0), el.get(0))) {
                el.val("OK");
                fr.submit();
            }
        }
    </script>
{% endblock %}
