{# templates/login.twig #}
{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="css/select_settings.css">
{% endblock %}

{% block main %}
    <table class="table table-striped table-hover table-users">
        <thead>
        <tr>
            <th class="action"></th>
            <th class="action"></th>
            <th class="action"></th>
            <th class="action"></th>
            <th class="action"></th>
            <th class="action"></th>
            <th class="name">Your templates</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td><a href="#">
                    <span class="glyphicon glyphicon-edit"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          title="Edit template">
                    </span>
                </a>
            </td>
            <td><a href="#">
                    <span class="glyphicon glyphicon-trash"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          title="Delete template">
                    </span>
                </a>
            </td>
            <td><a href="#">
                    <span class="glyphicon glyphicon-heart"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          title="Set as favorite">
                    </span>
                </a>
            </td>
            <td><a href="#">
                    <span class="glyphicon glyphicon-open"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          title="Create template from file">
                    </span>
                </a>
            </td>
            <td><a href="#">
                    <span class="glyphicon glyphicon-floppy-open"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          title="Import Huygens template"></span>
                </a>
            </td>
            <td><a href="#">
                    <span class="glyphicon glyphicon-share"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          title="Share template"></span>
                </a>
            </td>
            <td>Zeiss Z-1 Light-sheet</td>
        </tr>

        </tbody>

    </table>
{% endblock %}