{% extends "base.twig" %}

{% block body %}
    <body data-spy="scroll" data-target=".navbar">
    </body>
{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="sted-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="sted-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="#STEDDepletionMode">Depletion Mode</a></li>
                    <li><a href="#STEDSatFactor">Saturation Factor</a></li>
                    <li><a href="#STEDWavelength">Wavelength</a></li>
                    <li><a href="#STEDImmunity">Immunity Fraction</a></li>
                    <li><a href="#STED3D">STED 3D</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <form action="" method="post" id="sted_parameters">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <h3 class="text-center">Edit Microscopic Parameters</h3>
            </div>
        </div>
        <div id="STEDDepletionMode" class="container-fluid">
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : STEDDepletionMode.title,
                'varName'    : STEDDepletionMode.varName,
                'value'      : STEDDepletionMode.value,
                'chanCnt'    : STEDDepletionMode.chanCnt,
                'confidence' : STEDDepletionMode.confidence,
                'options'    : STEDDepletionMode.options} %}
                {% include 'base/chan_dropdown_parameter_panel.twig' with vars %}
            </div>
        </div>
        <div id="STEDSatFactor" class="container-fluid">
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : STEDSatFactor.title,
                'varName'    : STEDSatFactor.varName,
                'values'     : STEDSatFactor.values,
                'confidence' : STEDSatFactor.confidence,
                'min'        : STEDSatFactor.min,
                'max'        : STEDSatFactor.max,
                'step'       : STEDSatFactor.step,
                'chanCnt'    : STEDSatFactor.chanCnt} %}
                {% include 'base/chan_num_parameter_panel.twig' with vars %}
            </div>
        </div>
        <div id="STEDWavelength" class="container-fluid">
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : STEDWavelength.title,
                'varName'    : STEDWavelength.varName,
                'values'     : STEDWavelength.values,
                'confidence' : STEDWavelength.confidence,
                'min'        : STEDWavelength.min,
                'max'        : STEDWavelength.max,
                'step'       : STEDWavelength.step,
                'chanCnt'    : STEDWavelength.chanCnt} %}
                {% include 'base/chan_num_parameter_panel.twig' with vars %}
            </div>
        </div>
        <div id="STEDImmunity" class="container-fluid">
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'title'      : STEDImmunity.title,
                'varName'    : STEDImmunity.varName,
                'values'     : STEDImmunity.values,
                'confidence' : STEDImmunity.confidence,
                'min'        : STEDImmunity.min,
                'max'        : STEDImmunity.max,
                'step'       : STEDImmunity.step,
                'chanCnt'    : STEDImmunity.chanCnt} %}
                {% include 'base/chan_num_parameter_panel.twig' with vars %}
            </div>
        </div>
        <div id="STED3D" class="container-fluid">
            <div class="col-xs-11 col-sm-4 col-md-3 col-lg-2">
                {% set vars = {
                'varName'    : STED3D.varName,
                'values'     : STED3D.values,
                'confidence' : STED3D.confidence,
                'min'        : STED3D.min,
                'max'        : STED3D.max,
                'step'       : STED3D.step,
                'chanCnt'    : STED3D.chanCnt} %}
                {% include 'base/chan_num_parameter_panel.twig' with vars %}
            </div>
        </div>
        <div class="form-group">
            <ul class="pager">
                <li><a onclick="deleteValuesAndRedirect('capturing_parameter.php');"
                       href="javascript:void(0);">
                        Previous
                    </a>
                </li>
                <li><a onclick="deleteValuesAndProcess();"
                       href="javascript:void(0);">
                        Next
                    </a>
                </li>
                <div><input name="OK" type="hidden"/></div>
            </ul>
        </div>
    </form>

    {% include 'base/alert_message.twig' with vars %}
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        function process() {
            var el = $("form input[name='OK']:hidden");
            if (null === el) {
                return;
            }
            var fr = $("form#sted_parameters");
            if (null === fr) {
                return;
            }
            if ($.contains(fr.get(0), el.get(0))) {
                el.val("OK");
                fr.submit();
            }
        }
    </script>

    <script type="text/javascript">
        // Requires jQuery
        function deleteValues( idArray ) {
            if (!window.sessionStorage) {
            return;
        }

        $("select").each(
        function() {
            window.sessionStorage.removeItem( $(this).attr("name") );
        } );
        $( $.merge( $("input[type=text]"), $("input[type=radio]") ) ).each(
        function() {
                window.sessionStorage.removeItem( $(this).attr("id") );
            } );
        }
    </script>

    <script type="text/javascript">
        function deleteValuesAndProcess() {
            deleteValues();
            process();
        }
    </script>

    <script type="text/javascript">
        function deleteValuesAndRedirect(page) {
            deleteValues();
            window.location = page;
        }
    </script>


    <script type="text/javascript">
        setStedEntryProperties();
    </script>

{% endblock %}
